<mat-list>
    <mat-list-item [routerLink]="['inicial','home']" >
        <span class="material-icons">home</span>
        <label>Home</label> 
    </mat-list-item>
    <mat-list-item [routerLink]="['game','characters']" >
        <span class="material-icons">people</span>
        <label>Characters</label> 
    </mat-list-item>
    <mat-list-item [routerLink]="['game','card']" >
        <span class="material-icons">play_arrow</span>
       <label>Card Game</label> 
    </mat-list-item>
</mat-list>