<div class="home">
    <section class="star-wars">
        <div class="crawl">
          <div class="title">
            <p>WILTON PEREIRA DA COSTA</p>
            <h1>Front-End Software Developer</h1>
          </div>
          <p>
            My IT experience is extensive and includes bachelor education and ten years of Analyst and Software Developer, twelve years in Brazil and two years in Australia increased my skills.
          </p>
          <p>As an front-end specialist with Angular CLI I was responsible for analysing and developing As an front-end specialist with Angular CLI at Atento I was responsible for analysing and developing</p>     
          <p>Technologies: Angular CLI, Angular Material, Type Script, JavaScript, HTML, CSS, Bootstrap</p>
          <p>Scrum, Jira, Git, Web Viewer</p>
      
        </div>
      </section>
</div>

