.example-card {
    width: 200px;
    background-color: white;
    color: black;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .card-person{
      padding: 2px;
  }

  .container-people {
    padding: 10px;
  }

  ::ng-deep .mat-card-header-text {
    margin: 0 0px !important;
    
}

::ng-deep .mat-card-header .mat-card-title {
    font-size: 1.1rem;
}